@model BookStore.Migrations.Entities.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Book</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    @using (Html.BeginForm("AddBook", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>Add Book</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { })
            <div>
                @Html.LabelFor(model => model.Title, htmlAttributes: new { })
                <div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Author, htmlAttributes: new { })
                <div>
                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Author, "", new { })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Description, htmlAttributes: new { })
                <div>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Genre, htmlAttributes: new { })
                <div>
                    @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Genre, "", new { })
                </div>
            </div>

            <div>
                @Html.LabelFor(model => model.Price, htmlAttributes: new {})
                <div>
                    @Html.EditorFor(model => model.Price, new {htmlAttributes = new {}})
                    @Html.ValidationMessageFor(model => model.Price, "", new {})
                </div>
            </div>

            <div>
                    @Html.LabelFor(model => model.Image.Path, htmlAttributes: new { })
                    <div>
                        @Html.EditorFor(model => model.Image.Path, new { htmlAttributes = new { } })
                        @Html.ValidationMessageFor(model => model.Image.Path, "", new { })
                    </div>
            </div>

            <hr />
            <div>
                <div>
                    <input type="submit" value="Create"/>
                </div>
            </div>

            <div>
                @Html.ActionLink("Return to Admin books page", "AllBooks", "Admin")
            </div>
        </div>
    }

</body>
</html>
