@model List<BookStore.Models.Book>
@{
    ViewBag.Title = "title";
    Layout = null;
}
<head>
    <link href="~/Content/Styles/Main.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        @foreach (var book in @Model)
        {
            <div class="book">
                <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                    <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
                </a>
                <div class="desc">
                <p class="cut-name">@book.Name</p>
                <p class="cut-genre">@book.Genre</p></div>
            </div>
        }
    </div>
</body>

