@model IEnumerable<BookStore.Models.Entities.Book>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }

    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }

    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }

    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }

    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }

    @foreach (var book in @Model)
            {
        <div class="book">
            <a target="_blank" href="@Url.Content(@book.BookCover.Path)">
                <img src="@Url.Content(@book.BookCover.Path)" alt="Image">
            </a>
            <div class="desc">
                <p class="desc-title">@book.Title</p>
                <p class="desc-genre">@book.Genre</p>
            </div>
        </div>
    }
